/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

            // -----------------------------------------------------------------------------------------
            // | NONE |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | NONE |
            // | NONE |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | NONE |
            // | NONE |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | NONE |
            //                    | WIN(BT) | ENT(SYM) | TAB(CTRL) |   | BSPC(SHFT) | SPC(ARR) | ALT |

            bindings = <
&none  &kp Q  &kp W  &kp E       &kp R      &kp T            &kp Y           &kp U        &kp I      &kp O    &kp P     &none
&none  &kp A  &kp S  &kp D       &kp F      &kp G            &kp H           &kp J        &kp K      &kp L    &kp SEMI  &none
&none  &kp Z  &kp X  &kp C       &kp V      &kp B            &kp N           &kp M        &kp COMMA  &kp DOT  &kp FSLH  &none
                     &lt 3 LGUI  &lt 1 RET  &mt LCTRL TAB    &mt LSHFT BSPC  &lt 2 SPACE  &kp RALT
            >;
        };

        symbols_numpad_layer {
            display-name = "Symbols/Numpad";

            // -----------------------------------------------------------------------------------------
            // | NONE |  !  |  @  |  #  |  $  |  %  |   |  /  |  7  |  8  |  9  |  -  | NONE |
            // | NONE |  ^  |  &  |  *  |  (  |  )  |   |  *  |  4  |  5  |  6  |  +  | NONE |
            // | NONE |  _  |  [  |  ]  |  {  |  }  |   |  =  |  1  |  2  |  3  |  0  | NONE |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp EXCL   &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp GRAVE  &kp N7    &kp N8    &kp N9  &kp MINUS  &none
&none  &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR     &kp STAR   &kp N4    &kp N5    &kp N6  &kp PLUS   &none
&none  &kp UNDER  &kp LBKT  &kp RBKT  &kp LBRC  &kp RBRC     &kp EQUAL  &kp N1    &kp N2    &kp N3  &kp N0     &none
                            &kp LGUI  &trans    &kp SPACE    &kp KP_N0  &kp PIPE  &kp RALT
            >;
        };

        arrow_layer {
            display-name = "Arrow Layer";

            // -----------------------------------------------------------------------------------------
            // | NONE | SCSH |     | W.SW |     |     |   |     |     |     |     | DEL | NONE |
            // | NONE | SHFT | W.L | GUI  | W.R |     |   | LFT | DWN |  UP | RGT | ESC | NONE |
            // | NONE |      |     |      |     |     |   | HOME| PGDN| PGUP| END | INS | NONE |
            //                     | GUI  |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp LG(LS(S))  &trans            &kp LG(TAB)  &trans             &trans       &trans    &trans     &trans     &trans     &kp DEL  &none
&none  &kp LSHFT      &kp LG(LC(LEFT))  &kp LGUI     &kp LG(LC(RIGHT))  &trans       &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp ESC  &none
&none  &trans         &trans            &trans       &trans             &trans       &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp INS  &none
                                        &kp LGUI     &trans             &kp SPACE    &kp RET   &trans     &kp RALT
            >;
        };

        bluetooth_layer {
            display-name = "Bluetooth Layer";

            // -----------------------------------------------------------------------------------------
            // | NONE |     |     |     |     |     |   |     |     |     |     |     | NONE |
            // | NONE | BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     | NONE |
            // | NONE | CLR |     |     |     |     |   |     |     |     |     |     | NONE |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &trans          &trans        &trans        &trans        &trans          &trans   &trans  &trans    &trans  &trans  &none
&none  &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans   &trans  &trans    &trans  &trans  &none
&none  &bt BT_CLR_ALL  &trans        &trans        &trans        &trans          &trans   &trans  &trans    &trans  &trans  &none
                                     &kp LGUI      &trans        &kp SPACE       &kp RET  &trans  &kp RALT
            >;
        };
    };
};
